In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_excel('dataDiabetesTugas.xlsx')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,No. Sample,preg,plas,pres,skin,insu,mass,pedi,age,class,NaN,Keterangan
2,NaN,1,6,148,72,35,0,33.6,0.627,50,tested_positive,NaN,Preg - Pregnancies - Number of times pregnant
3,NaN,2,1,85,66,29,0,26.6,0.351,31,tested_negative,NaN,plas - GlucosePlasma - glucose concentration a...
4,NaN,3,8,183,64,0,0,23.3,0.672,32,tested_positive,NaN,pres - BloodPressureDiastolic blood pressure (...

In [4]:
df.drop(columns = 'Unnamed: 11', inplace = True)
df.drop(columns = 'Unnamed: 12', inplace = True)
df.drop(columns = 'Unnamed: 0', inplace = True)
df.drop(index = [0, 1], inplace = True)

In [5]:
df.columns = ['No. Sample', 'preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age', 'class']
df = df.set_index('No. Sample')
df.head()

           preg plas pres skin insu  mass   pedi age            class
No. Sample
1             6  148   72   35    0  33.6  0.627  50  tested_positive
2             1   85   66   29    0  26.6  0.351  31  tested_negative
3             8  183   64    0    0  23.3  0.672  32  tested_positive
4             1   89   66   23   94  28.1  0.167  21  tested_negative
5             0  137   40   35  168  43.1   2288  33  tested_positive

In [6]:
test_result = pd.get_dummies(df['class'], drop_first = True)
test_result

            tested_positive
No. Sample
1                         1
2                         0
3                         1
4                         0
5                         1
...                     ...
57                        1
58                        0
59                        0
60                        0
61                        0

[61 rows x 1 columns]

In [7]:
df = pd.concat([df,test_result],axis=1)

In [8]:
df.drop(columns = 'class', inplace = True)
df.head()

           preg plas pres skin insu  mass   pedi age  tested_positive
No. Sample
1             6  148   72   35    0  33.6  0.627  50                1
2             1   85   66   29    0  26.6  0.351  31                0
3             8  183   64    0    0  23.3  0.672  32                1
4             1   89   66   23   94  28.1  0.167  21                0
5             0  137   40   35  168  43.1   2288  33                1

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X = df[['preg', 'plas', 'pres', 'skin', 'insu', 'mass', 'pedi', 'age']]
y = df['tested_positive']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 101)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
predictions = logmodel.predict(X_test)

In [15]:
from sklearn.metrics import classification_report

In [16]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.57      0.89      0.70         9
           1       0.80      0.40      0.53        10

    accuracy                           0.63        19
   macro avg       0.69      0.64      0.61        19
weighted avg       0.69      0.63      0.61        19